.code {
    /*border: 2px dashed white;*/
    padding: 16px 20px;
    margin: 8px 0px;
    line-height: 1.5;
    display: block;
    min-height: 200px;
    color: white;
    background: #282c34;
    font-family: consolas;
}

.code-keyword {
    color: #c678dd;
}

.code-fn-name {
    color: #4bb6c2;
}

.code-string, .code-string * {
    color: #7cc379;
}
